Source: libgenome-perl
Section: science
Priority: optional
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Build-Depends: debhelper (>= 7), perl (>= 5.10), libmodule-build-perl
Build-Depends-Indep: perl
Standards-Version: 3.8.3

Package: libgenome-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perl, perl-base, perl-modules, libdatetime-perl, libfile-temp-perl, libio-string-perl, libur-perl
Description: Genome processing by The Genome Center.
 Genome processing by The Genome Center.
